<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/4第4章_套接字/src/_4_3Socket编程示例/_4_4_4简单的聊天程序/ChatServer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="_4_3Socket编程示例._4_4_4简单的聊天程序.ChatServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="4第4章_套接字"/>
</launchConfiguration>
