<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/11第11章_代理服务器/src/_11_2用Java开发代理服务器/HttpProxy.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="_11_2用Java开发代理服务器.HttpProxy"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="11第11章_代理服务器"/>
</launchConfiguration>
