<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/02第2章_Internet寻址/src/_2_3根据IP地址查找域名/_2_3_2getHostName方法/Internet.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="_2_3根据IP地址查找域名._2_3_2getHostName方法.Internet"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="02第2章_Internet寻址"/>
</launchConfiguration>
