<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/6第6章_多线程/src/_6_001多线程问题/Launch.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="_6_001多线程问题.Launch"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="6第6章_多线程"/>
</launchConfiguration>
