<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/05第5章_数据报套接字/src/_5_2DatagramSocket编程示例/_5_2_3用UDP实现的聊天程序/UDPChat.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="_5_2DatagramSocket编程示例._5_2_3用UDP实现的聊天程序.UDPChat"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="05第5章_数据报套接字"/>
</launchConfiguration>
